.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    margin-left: 700px;
}
.right-picture {
    width: 700px;
    height: 600px;
    margin-top: 50px;
    overflow: hidden;
    background-image: url('./assets/background-image.jpg'); /* Use background-image instead of content */
    background-size: cover; /* Maintain aspect ratio */
    background-position: center; /* Center the background image */
    margin-right:20px
}


.about-title{
    color: white;
    font-size: 6rem;
}

.body-container {
    display: flex;
    align-items: center; /* Make containers stretch to match height */
    justify-content: space-between;
}

.text-container {
    flex: 1;
    padding-right: 80px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    color: white;
}


.about-description{
    text-align: left;
    font-size: 15px;
}
.header-container{
    width: 35rem;
    text-align: left;
}
.text-background {
    position: absolute;
    bottom: 0;
    width: 600px;
    top: 150px;
    background-color: rgba(5, 6, 7, 0.5);
    opacity: 30;
}

